# Build folders
build/
cmake-build-*/

# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak